/* 글로벌 세팅 */
:root {
  /* 색상 */
  --color-light-blue: #0096c7;
  --color-light-green: #06d6a0;
  --color-white: #edede9;
  --color-light-grey: #e9ecef;
  --color-grey: #6c757d;

  /* 폰트크기 */
  --size-font-sm: 0.8rem;
  --size-font-md: 1.5rem;
  --size-font-base: 1rem;

  /* 크기 */
  --size-mainUtill-icon: 2em;
}

* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-light-blue);
  font-size: var(--size-font-md);
  padding: 0.6rem;
}

.nav__logo {
  display: flex;
  margin-left: 0.125em;
}

.nav__logo__icon {
  color: var(--color-light-green);
}

.nav__logo__webName {
  color: var(--color-white);
  margin-left: 0.2em;
}

.nav__menuBtnContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: var(--size-font-sm);
}

.nav___menuContainer__menu {
  padding: 0 1em;
  color: var(--color-white);
}

.nav__menuBtnContainer__login {
  display: flex;
  align-items: center;
  padding: 0 1em;
}

.nav__menuBtnContainer__login__loginBtn {
  border-right: 0.05em solid var(--color-white);
  color: var(--color-white);
  padding-right: 0.5em;
}

.nav__menuBtnContainer__login__regiBtn {
  color: var(--color-white);
  padding-left: 0.5em;
}

/* main */

.mainBox {
  position: relative;
  background-color: var(--color-light-grey);
}

.mainBox__utillContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: var(--size-font-base);
  background-color: var(--color-grey);
  top: 0.2em;
  right: 0.5em;
}

.mainBox__utilities {
  display: flex;
  flex-direction: column;
  font-size: var(--size-font-base);
}

.mainBox__expandUtill {
  font-size: var(--size-mainUtill-icon);
  color: var(--color-white);
}

.mainBox__utilities__addBox {
  font-size: var(--size-mainUtill-icon);
  color: var(--color-white);
}

.mainBox__utilities__adjBox {
  font-size: var(--size-mainUtill-icon);
  color: var(--color-white);
}

.mainBox__utilities__removeBox {
  font-size: var(--size-mainUtill-icon);
  color: var(--color-white);
}

.test {
  background-color: purple;
  width: 500px;
  height: 500px;
}
