/* 글로벌 세팅 */
:root {
  /* 색상 */
  --color-dark-navy: #03045e;
  --color-light-blue: #0096c7;
  --color-white: #edede9;
  --color-light-grey: #e9ecef;
  --color-grey: #6c757d;
  --color-red: #bf0603;
  --color-light-red: #ff595e;
  --color-yellow: #ffca3a;
  --color-green: #8ac926;
  --color-blue: #1982c4;

  /* 폰트크기 */
  --size-font-xsm: 0.8rem;
  --size-font-sm: 1.2rem;
  --size-font-md: 1.5rem;
  --size-font-lg: 1.8rem;
  --size-font-xlg: 4rem;
  --size-font-base: 1rem;

  /* 폰트굵기 */
  --wght-font-sm: 100;
  --wght-font-md: 300;
  --wght-font-lg: 500;
  --wght-font-xl: 700;

  /* 크기 */

  /* 패딩 */
  --padding-menu: 1em;
  --padding-box: 0.5em;
}

* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

body {
  background-color: var(--color-white);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

#wrap {
  min-height: 100vh;
  position: relative;
  width: 100%;
}

/* nav */

nav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-light-blue);
  font-size: var(--size-font-md);
  width: 100%;
  height: 50px;
  padding: 0.6rem;
  top: 0px;
  z-index: 1;
}

.nav__logo {
  display: flex;
  margin-left: 0.125em;
}

.nav__logo__webName {
  color: var(--color-white);
  margin-left: 0.2em;
}

.nav__menuBtnContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: var(--size-font-xsm);
}

.nav___menuContainer__menu {
  padding: 0 var(--padding-menu);
  color: var(--color-white);
}

.nav__menuBtnContainer__login {
  display: flex;
  align-items: center;
  padding: 0 var(--padding-menu);
}

.nav__menuBtnContainer__login__loginBtn {
  border-right: 0.05em solid;
  color: var(--color-white);
  padding-right: 0.5em;
}

.nav__menuBtnContainer__login__regiBtn {
  color: var(--color-white);
  padding-left: 0.5em;
}

/* main */
main {
  margin-top: 50px;
  padding-bottom: 200px;
}

.mainBox {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 3em;
}

/* main__content */

.box {
  background-color: var(--color-light-grey);
  overflow: hidden;
  width: 25em;
  height: 25em;
  min-width: 25em;
  min-height: 25em;
  border: 1px var(--color-grey) solid;
  font-size: var(--size-font-base);
}

/* main__content__toDo */

.mainBox__toDo {
  background-color: var(--color-light-grey);
}

.box__nav {
  display: flex;
  position: relative;
  background-color: var(--color-dark-navy);
  color: var(--color-white);
  padding: 0 var(--padding-box);
}

.box__nav__btnCategory {
  display: flex;
  position: absolute;
  top: 0.125em;
  right: 0.5em;
  font-size: var(--size-font-base);
}

.box__nav__miniBtn {
  color: var(--color-white);
  margin-right: 0.7em;
}

.box__nav__quitBtn {
  color: var(--color-red);
}

.toDo__content {
  text-align: center;
  justify-content: center;
}

.toDo__content__form {
  padding: 2em;
  padding-bottom: 1.5em;
}

#toDoInput {
  text-align: center;
  width: 100%;
  margin-top: 1em;
}

.toDo__content__container {
  display: flex;
  height: 100vh;
  border-top: 1px var(--color-grey) solid;
}

.toDo__container__notYet {
  width: 100%;
  border-right: 1px var(--color-grey) solid;
}

.toDo__container__done {
  width: 100%;
}

.toDo__description {
  padding: 0.5em 0;
  border-bottom: 1px var(--color-grey) solid;
}

.toDo__ul__yet {
  display: flex;
  flex-direction: column;
}

.toDo__ul:first-child {
  border-right: 1px var(--color-grey) solid;
}

.toDo__li {
  padding-top: 0.5em;
}

.toDo__li:hover {
  background-color: var(--color-yellow);
}

/* main__content__calc */

.calc__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.25em;
  height: 100%;
  padding: 0.5em;
  padding-bottom: 1.7em;
}

.calc__container input {
  font-size: 1.2rem;
  cursor: pointer;
}
.calc__container input:hover {
  box-shadow: 0.062em 0.062em 5px var(--color-light-red);
  transition: all ease-in 200ms;
}

.calc__output {
  text-align: right;
  padding-right: 0.5em;
  grid-column: 1/5;
}

.calc__reset {
  background-color: var(--color-light-red);
  grid-column: 1/ 4;
}

.calc__symbol {
  background-color: var(--color-yellow);
}

.calc__dot {
  background-color: var(--color-green);
}

.calc__result {
  background-color: var(--color-blue);
  grid-column: 3/5;
}

/* main__content__btcPrice */

.btcPrice__container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 4em;
}

.btc__date {
  position: absolute;
  font-weight: var(--wght-font-md);
  top: 0.5em;
  left: 0.3em;
}

.btcPrice__container h2 {
  font-size: 2em;
  font-weight: var(--wght-font-lg);
}

.btcPrice__container h1 {
  font-size: 4em;
  padding: 0.5em 0;
  text-align: center;
  font-weight: var(--wght-font-xl);
}

.btc-base {
  position: absolute;
  bottom: 1.8em;
  left: 0.3em;
  font-weight: var(--wght-font-md);
}

.btc-interval {
  position: absolute;
  bottom: 1.8em;
  right: 0.3em;
  font-weight: var(--wght-font-md);
}

/*main__content__search */
#searchForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.searchRadio label,
.searchRadio input {
  cursor: pointer;
  font-weight: var(--wght-font-lg);
}

.searchRadio {
  font-size: var(--size-font-lg);
  margin-bottom: 1em;
}

#naverSearch {
  margin-right: 0.5em;
}

#googleSearch {
  margin-left: 0.5em;
}

.searchInputAndBtn {
  width: 100%;
}

.searchInput {
  text-align: center;
  height: 2em;
  font-size: var(--size-font-md);
}

.searchBtn {
  font-size: var(--size-font-md);
  background-color: var(--color-blue);
  border-radius: 2px;
  padding: 0.45em;
}

/* main__content__color */
.colorForm {
  height: 100%;
}

.colorInput {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: var(--size-font-md);
  font-weight: var(--wght-font-md);
  height: 30%;
}

.colorShow {
  width: 1em;
  height: 1em;
  background-color: white;
  margin-left: 0.25em;
}

.colorForm__hex {
  position: absolute;
  font-size: var(--size-font-xsm);
  right: 0.5em;
}

.colorForm__description {
  position: absolute;
  right: 0.5em;
  bottom: 0.2em;
  font-size: var(--size-font-xsm);
}

.colorBtns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 66%;
}

.colorBtns input {
  font-size: var(--size-font-sm);
}

/* main__content__loadForm */

.load__content {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.load__sayHi {
  font-size: var(--size-font-xlg);
  margin-bottom: 0.5em;
}

.load__p {
  font-size: var(--size-font-md);
  padding-top: 0.5em;
}

/* footer */

footer {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--color-light-blue);
  align-items: center;
  font-size: var(--size-font-base);
  position: absolute;
  width: 100%;
  height: 200px;
  bottom: 0px;
}

.foot__logo__webName {
  color: var(--color-white);
  font-size: 3em;
  padding: 1em 0;
}

.foot__menuShortcut {
  text-align: center;
  font-size: var(--size-font-base);
  margin-right: 7.5em;
}

.foot__menuShortcut li {
  margin-bottom: 0.5em;
}

.foot__menuShortcut a {
  color: var(--color-white);
  font-size: var(--size-font-sm);
}

.foot__contact {
  display: flex;
}

.foot__contact li {
  margin-right: 1em;
}

.foot__contact i {
  font-size: 2em;
  color: var(--color-white);
}
